* {
  box-sizing: border-box;
  font-family: Georgia;
  line-height: 1.5;
}

/* cursive david kreyman page heading */
header h1 {
  text-align: center;
  font-family: "Sacramento", cursive;
  font-size: 3rem;
}

/* split the intro section in half for img and text */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  position: relative;
}

/* Remove Floats After Columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

section {
  margin: 5rem;
}

/* Make About paragraph look cleaner */
#squish {
  margin: 2rem 10rem 2rem 10rem;
}

.text-center {
  text-align: center;
}
/* my skills/intrests */
ul {
  text-align: left;
  margin-left: 13rem;
}
/* contact me links. Text won't center with numbers for some reason */
ol {
  text-align: left;
  margin-left: 34rem;
}
li {
  padding: 5px;
}

/* profile img */
img {
  margin-left: 5rem;
  height: 380px;
  border-radius: 100%;
  margin-top: 1.8rem;
}

/* default color for link*/
a:link {
  color: black;
}
a:visited {
  color: lightcoral;
}

a:hover {
  color: lightcoral;
}

a:active {
  color: royalblue;
}

footer {
  margin-top: 7rem;
}

hr {
  height: 1px;
  color: black;
  background-color: black;
}
